<style>
.glyphicon {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
}
</style>

<h1>My Inbox</h1>
<div class="panel panel-default">
<div class="col-lg-6">
  <div id="mail">
    <h1 class="panel-heading">All Conversations:</h1>
    <div class="panel-body">
     <div class="item">
      <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_account.id || conversation.recipient_id == current_account.id %>
       <% if conversation.sender_id == current_account.id %>
         <% recipient = Account.find(conversation.recipient_id) %>
       <% else %>
         <% recipient = Account.find(conversation.sender_id) %>
       <% end %>
       <h3><%= link_to recipient.email, conversation_messages_path(conversation)%></h3>
      <% end %>
     <% end %>
     </div>
    </div>
   </div>
  <div id="new">
    <div class="panel-body">
     <h1 class="panel-heading">All Accounts:</h1>
       <% @accounts.each do |account| %>
        <% if account.id != current_account.id %>
         <div class="item"><h3>
      <%= link_to account.email,
       conversations_path(sender_id: current_account.id, recipient_id: account.id), method: "post"%>
     </h3></div>
      <% end %>
     <% end %>
    </div>
  </div>
</div>
</div>