<main id="home-banner">

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search Australia's home of property</h1>
        <p class="lead text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p>
          <%= link_to "View Latest Properties", properties_view_all_path, class: "btn btn-success" %>
          <%= link_to "View Latest News", news_path, class: "btn btn-primary my-2" %>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
          <h3 class="mb-3">New Developments</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <%= render "properties/etc/list_properties", properties: @properties.limit(3) %> 
        </div>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
        <h3 class="mb-3">Latest News</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <%= render "blogs/etc/list_news", posts: @posts.limit(6) %> 
        </div>
    </div>
  </div>

</main>
