<div class="">
    <h3 class="h4"><%= @agent.full_name %></h2>
    <p><%= @agent.company_name %></p>
    <button class="btn btn-info text-uppercase" style="color: white;">Call now</button>
    <button class="btn btn-success text-uppercase">Email for more info</button>
</div>